/* Vector */


position: absolute;
left: 0%;
right: 0%;
top: 0.02%;
bottom: -0.02%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 0%;
right: 0%;
top: 2.79%;
bottom: 81.99%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 57.92%;
right: 8.33%;
top: 2.79%;
bottom: 83.58%;

background: #EAF9CE;


/* Vector */


position: absolute;
left: 59.1%;
right: 11.46%;
top: 5.38%;
bottom: 84.88%;

background: url(image0_1_5.png);


/* Vector */


position: absolute;
left: 8.42%;
right: 61.98%;
top: 7.37%;
bottom: 89.32%;

background: #74A512;


/* Vector */


position: absolute;
left: 19.23%;
right: 56.31%;
top: 7.37%;
bottom: 89.33%;

background: #080A11;


/* Vector */


position: absolute;
left: 45.3%;
right: 43.14%;
top: 9.46%;
bottom: 89.32%;

background: #080A11;


/* Vector */


position: absolute;
left: 8.33%;
right: 81.81%;
top: 6%;
bottom: 93.33%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 9.5%;
right: 82.97%;
top: 6.22%;
bottom: 93.47%;

background: #74A512;


/* Vector */


position: absolute;
left: 8.33%;
right: 82.43%;
top: 13.65%;
bottom: 85.22%;

background: #74A512;


/* Vector */


position: absolute;
left: 10.6%;
right: 84.69%;
top: 14.1%;
bottom: 85.6%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 8.39%;
right: 53.29%;
top: 11.76%;
bottom: 87.44%;

background: #969696;


/* Vector */


position: absolute;
left: 73.4%;
right: 26.04%;
top: 16.97%;
bottom: 82.84%;

background: #74A512;


/* Vector */


position: absolute;
left: 74.51%;
right: 24.93%;
top: 16.97%;
bottom: 82.84%;

background: #EBEBEB;


/* Vector */


position: absolute;
left: 75.62%;
right: 23.82%;
top: 16.97%;
bottom: 82.84%;

background: #EBEBEB;


/* Vector */


position: absolute;
left: 20.42%;
right: 71.88%;
top: 14.1%;
bottom: 85.59%;

background: #74A512;


/* Vector */


position: absolute;
left: 29.03%;
right: 69.86%;
top: 14.04%;
bottom: 85.64%;

border: 2px solid #74A512;


/* Vector */


position: absolute;
left: 8.33%;
right: 50.83%;
top: 24.66%;
bottom: 68.64%;

background: #EAF9CE;


/* Vector */


position: absolute;
left: 28.99%;
right: 63.31%;
top: 25.94%;
bottom: 73.65%;

background: #0D1222;


/* Vector */


position: absolute;
left: 28.88%;
right: 52.65%;
top: 27%;
bottom: 71.58%;

background: #969696;


/* Vector */


position: absolute;
left: 28.89%;
right: 61.88%;
top: 29.07%;
bottom: 69.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 31.16%;
right: 64.13%;
top: 29.52%;
bottom: 70.17%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 9.72%;
right: 72.78%;
top: 25.54%;
bottom: 69.5%;

background: url(image1_1_5.png);


/* Vector */


position: absolute;
left: 50.83%;
right: 8.33%;
top: 24.66%;
bottom: 68.64%;

background: #FFF7E2;


/* Vector */


position: absolute;
left: 70.43%;
right: 18.93%;
top: 25.92%;
bottom: 73.54%;

background: #0D1222;


/* Vector */


position: absolute;
left: 70.33%;
right: 11.2%;
top: 27%;
bottom: 71.58%;

background: #969696;


/* Vector */


position: absolute;
left: 70.35%;
right: 20.42%;
top: 29.07%;
bottom: 69.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 72.61%;
right: 22.68%;
top: 29.52%;
bottom: 70.17%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 51.94%;
right: 31.32%;
top: 25.26%;
bottom: 69.24%;

background: url(image2_1_5.png);


/* Vector */


position: absolute;
left: 64.73%;
right: 31.73%;
top: 20.86%;
bottom: 78.53%;

background: #DEDEDE;


/* Vector */


position: absolute;
left: 64.84%;
right: 34.59%;
top: 20.7%;
bottom: 79.14%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 65.08%;
right: 24.92%;
top: 20.56%;
bottom: 79.19%;

background: #BFBFBF;


/* Vector */


position: absolute;
left: 64.82%;
right: 34.09%;
top: 20.81%;
bottom: 78.61%;

background: #E9E9E9;


/* Vector */


position: absolute;
left: 75.08%;
right: 24.38%;
top: 20.6%;
bottom: 78.63%;

background: #DEDEDE;


/* Vector */


position: absolute;
left: 68.27%;
right: 30.37%;
top: 21.43%;
bottom: 78.54%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 74.53%;
right: 24.89%;
top: 21.37%;
bottom: 78.49%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 66.7%;
right: 30.37%;
top: 21.42%;
bottom: 78.55%;

background: #E9E9E9;


/* Vector */


position: absolute;
left: 74.53%;
right: 24.89%;
top: 21.37%;
bottom: 78.58%;

background: #BFBFBF;


/* Vector */


position: absolute;
left: 65.07%;
right: 24.62%;
top: 20.59%;
bottom: 78.58%;

background: #D2D2D2;


/* Vector */


position: absolute;
left: 66.52%;
right: 32.48%;
top: 20.87%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 67.52%;
right: 31.74%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 68.22%;
right: 31.05%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 68.99%;
right: 30.45%;
top: 20.9%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 69.55%;
right: 29.62%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 70.45%;
right: 28.73%;
top: 20.97%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 71.3%;
right: 27.94%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 71.98%;
right: 27.19%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 72.86%;
right: 26.32%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 73.8%;
right: 25.65%;
top: 20.9%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 69.63%;
right: 25.46%;
top: 21.37%;
bottom: 78.31%;

background: #B9B9B9;


/* Vector */


position: absolute;
left: 70.53%;
right: 29.11%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 71.08%;
right: 28.55%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 71.58%;
right: 27.99%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 72.17%;
right: 27.44%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 72.78%;
right: 26.86%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 73.3%;
right: 26.34%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 50.21%;
right: 38.34%;
top: 20.43%;
bottom: 78.2%;



/* Vector */


position: absolute;
left: 78.82%;
right: 10%;
top: 20.65%;
bottom: 78.46%;

background: #D2D2D2;


/* Vector */


position: absolute;
left: 79.28%;
right: 10.46%;
top: 20.99%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 83.81%;
right: 13.78%;
top: 20.65%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 82.6%;
right: 16.19%;
top: 20.99%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 7.78%;
right: 88.67%;
top: 20.86%;
bottom: 78.53%;

background: #DEDEDE;


/* Vector */


position: absolute;
left: 7.9%;
right: 91.54%;
top: 20.7%;
bottom: 79.14%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 8.14%;
right: 81.87%;
top: 20.56%;
bottom: 79.19%;

background: #BFBFBF;


/* Vector */


position: absolute;
left: 7.87%;
right: 91.04%;
top: 20.81%;
bottom: 78.61%;

background: #E9E9E9;


/* Vector */


position: absolute;
left: 18.13%;
right: 81.33%;
top: 20.6%;
bottom: 78.63%;

background: #DEDEDE;


/* Vector */


position: absolute;
left: 11.33%;
right: 87.31%;
top: 21.43%;
bottom: 78.54%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 17.59%;
right: 81.83%;
top: 21.37%;
bottom: 78.49%;

background: #D3D3D3;


/* Vector */


position: absolute;
left: 9.75%;
right: 87.31%;
top: 21.42%;
bottom: 78.55%;

background: #E9E9E9;


/* Vector */


position: absolute;
left: 17.59%;
right: 81.83%;
top: 21.37%;
bottom: 78.58%;

background: #BFBFBF;


/* Vector */


position: absolute;
left: 8.13%;
right: 81.56%;
top: 20.59%;
bottom: 78.58%;

background: #D2D2D2;


/* Vector */


position: absolute;
left: 9.57%;
right: 89.42%;
top: 20.87%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 10.57%;
right: 88.69%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 11.27%;
right: 88%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 12.05%;
right: 87.4%;
top: 20.9%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 12.6%;
right: 86.57%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 13.5%;
right: 85.67%;
top: 20.97%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 14.36%;
right: 84.89%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 15.03%;
right: 84.13%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 15.92%;
right: 83.26%;
top: 20.96%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 16.85%;
right: 82.59%;
top: 20.9%;
bottom: 78.77%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 12.69%;
right: 82.4%;
top: 21.37%;
bottom: 78.31%;

background: #B9B9B9;


/* Vector */


position: absolute;
left: 13.59%;
right: 86.05%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 14.14%;
right: 85.49%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 14.63%;
right: 84.93%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 15.23%;
right: 84.39%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 15.83%;
right: 83.8%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 16.35%;
right: 83.28%;
top: 21.46%;
bottom: 78.37%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 21.74%;
right: 66.81%;
top: 20.43%;
bottom: 78.2%;



/* Vector */


position: absolute;
left: 36.11%;
right: 52.71%;
top: 20.65%;
bottom: 78.46%;

background: #D2D2D2;


/* Vector */


position: absolute;
left: 36.57%;
right: 53.17%;
top: 20.99%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 41.1%;
right: 56.49%;
top: 20.65%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 39.9%;
right: 58.9%;
top: 20.99%;
bottom: 78.57%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 42.06%;
right: 44.29%;
top: 19.06%;
bottom: 80.42%;

background: #969696;


/* Vector */


position: absolute;
left: 47.5%;
right: 51.94%;
top: 22.63%;
bottom: 77.19%;

background: #74A512;


/* Vector */


position: absolute;
left: 48.61%;
right: 50.83%;
top: 22.63%;
bottom: 77.19%;

background: #EEEEEE;


/* Vector */


position: absolute;
left: 49.72%;
right: 49.72%;
top: 22.63%;
bottom: 77.19%;

background: #EEEEEE;


/* Vector */


position: absolute;
left: 8.33%;
right: 8.33%;
top: 77.51%;
bottom: 13.3%;

background: #FFF7E2;


/* Vector */


position: absolute;
left: 11.2%;
right: 83.45%;
top: 78.8%;
bottom: 20.9%;

background: #74A512;


/* Vector */


position: absolute;
left: 11.29%;
right: 60.57%;
top: 79.72%;
bottom: 18.25%;

background: #0A0F19;


/* Vector */


position: absolute;
left: 11.11%;
right: 79.65%;
top: 84.37%;
bottom: 14.5%;

background: #74A512;


/* Vector */


position: absolute;
left: 13.38%;
right: 81.91%;
top: 84.82%;
bottom: 14.87%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 11.15%;
right: 58.52%;
top: 82.48%;
bottom: 16.63%;

background: #969696;


/* Vector */


position: absolute;
left: 44.31%;
right: 8.33%;
top: 78.13%;
bottom: 11.18%;

background: url(image3_1_5.png);


/* Vector */


position: absolute;
left: 8.42%;
right: 87.12%;
top: 47.79%;
bottom: 51.97%;

background: #74A512;


/* Vector */


position: absolute;
left: 67.41%;
right: 8.52%;
top: 47.13%;
bottom: 52%;

background: #969696;


/* Vector */


position: absolute;
left: 8.54%;
right: 73.48%;
top: 46.61%;
bottom: 52.69%;

background: #0D1222;


/* Vector */


position: absolute;
left: 88.36%;
right: 10.72%;
top: 58.23%;
bottom: 41.48%;

background: #FFC224;


/* Vector */


position: absolute;
left: 89.75%;
right: 8.47%;
top: 58.27%;
bottom: 41.44%;

background: #969696;


/* Vector */


position: absolute;
left: 8.36%;
right: 73.21%;
top: 59.21%;
bottom: 39.99%;

background: #969696;


/* Vector */


position: absolute;
left: 8.33%;
right: 72.08%;
top: 50.7%;
bottom: 42.37%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 8.33%;
right: 72.08%;
top: 50.7%;
bottom: 42.37%;

background: url(image4_1_5.jpg);


/* Vector */


position: absolute;
left: 8.4%;
right: 85.27%;
top: 58.29%;
bottom: 41.39%;

background: #0D1222;


/* Vector */


position: absolute;
left: 24.61%;
right: 74.47%;
top: 58.23%;
bottom: 41.48%;

background: #FFC224;


/* Vector */


position: absolute;
left: 26%;
right: 72.22%;
top: 58.27%;
bottom: 41.44%;

background: #969696;


/* Vector */


position: absolute;
left: 25.8%;
right: 72.18%;
top: 60.78%;
bottom: 38.92%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 8.33%;
right: 86.67%;
top: 60.54%;
bottom: 38.7%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 9.35%;
right: 89.91%;
top: 60.81%;
bottom: 38.94%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 10.58%;
right: 87.57%;
top: 60.81%;
bottom: 38.95%;

background: #74A512;


/* Vector */


position: absolute;
left: 8.36%;
right: 73.21%;
top: 70.36%;
bottom: 28.83%;

background: #969696;


/* Vector */


position: absolute;
left: 8.33%;
right: 72.08%;
top: 61.86%;
bottom: 31.22%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 8.33%;
right: 72.08%;
top: 61.86%;
bottom: 31.22%;

background: url(image4_1_5.jpg);


/* Vector */


position: absolute;
left: 8.4%;
right: 85.27%;
top: 69.45%;
bottom: 30.24%;

background: #0D1222;


/* Vector */


position: absolute;
left: 24.61%;
right: 74.47%;
top: 69.39%;
bottom: 30.32%;

background: #FFC224;


/* Vector */


position: absolute;
left: 26%;
right: 72.22%;
top: 69.42%;
bottom: 30.29%;

background: #969696;


/* Vector */


position: absolute;
left: 25.8%;
right: 72.14%;
top: 71.94%;
bottom: 27.77%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 8.33%;
right: 86.67%;
top: 71.69%;
bottom: 27.55%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 9.35%;
right: 89.91%;
top: 71.96%;
bottom: 27.79%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 10.58%;
right: 87.57%;
top: 71.97%;
bottom: 27.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 45.86%;
right: 53.22%;
top: 58.23%;
bottom: 41.48%;

background: #FFC224;


/* Vector */


position: absolute;
left: 47.25%;
right: 50.97%;
top: 58.27%;
bottom: 41.44%;

background: #969696;


/* Vector */


position: absolute;
left: 29.61%;
right: 51.96%;
top: 59.21%;
bottom: 39.99%;

background: #969696;


/* Vector */


position: absolute;
left: 29.58%;
right: 50.83%;
top: 50.7%;
bottom: 42.37%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 29.58%;
right: 50.83%;
top: 50.7%;
bottom: 42.37%;

background: url(image5_1_5.jpg);


/* Vector */


position: absolute;
left: 29.63%;
right: 66.31%;
top: 58.29%;
bottom: 41.39%;

background: #0D1222;


/* Vector */


position: absolute;
left: 47.05%;
right: 50.92%;
top: 60.78%;
bottom: 38.92%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 29.58%;
right: 65.42%;
top: 60.54%;
bottom: 38.7%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 30.6%;
right: 68.66%;
top: 60.81%;
bottom: 38.94%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 31.83%;
right: 66.32%;
top: 60.81%;
bottom: 38.95%;

background: #74A512;


/* Vector */


position: absolute;
left: 45.86%;
right: 53.22%;
top: 69.39%;
bottom: 30.32%;

background: #FFC224;


/* Vector */


position: absolute;
left: 47.25%;
right: 50.97%;
top: 69.42%;
bottom: 30.29%;

background: #969696;


/* Vector */


position: absolute;
left: 29.61%;
right: 51.96%;
top: 70.36%;
bottom: 28.83%;

background: #969696;


/* Vector */


position: absolute;
left: 29.58%;
right: 50.83%;
top: 61.86%;
bottom: 31.22%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 29.58%;
right: 50.83%;
top: 61.86%;
bottom: 31.22%;

background: url(image5_1_5.jpg);


/* Vector */


position: absolute;
left: 29.63%;
right: 66.31%;
top: 69.45%;
bottom: 30.24%;

background: #0D1222;


/* Vector */


position: absolute;
left: 47.05%;
right: 50.85%;
top: 71.94%;
bottom: 27.77%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 29.58%;
right: 65.42%;
top: 71.69%;
bottom: 27.55%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 30.6%;
right: 68.66%;
top: 71.96%;
bottom: 27.79%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 31.83%;
right: 66.32%;
top: 71.97%;
bottom: 27.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 67.11%;
right: 31.97%;
top: 58.23%;
bottom: 41.48%;

background: #FFC224;


/* Vector */


position: absolute;
left: 68.5%;
right: 29.72%;
top: 58.27%;
bottom: 41.44%;

background: #969696;


/* Vector */


position: absolute;
left: 50.86%;
right: 30.71%;
top: 59.21%;
bottom: 39.99%;

background: #969696;


/* Vector */


position: absolute;
left: 50.83%;
right: 29.58%;
top: 50.7%;
bottom: 42.37%;

background: url(image6_1_5.jpg);


/* Vector */


position: absolute;
left: 50.9%;
right: 37.88%;
top: 58.28%;
bottom: 41.39%;

background: #0D1222;


/* Vector */


position: absolute;
left: 68.3%;
right: 29.65%;
top: 60.78%;
bottom: 38.92%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 50.83%;
right: 44.17%;
top: 60.54%;
bottom: 38.7%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 51.85%;
right: 47.41%;
top: 60.81%;
bottom: 38.94%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 53.08%;
right: 45.07%;
top: 60.81%;
bottom: 38.95%;

background: #74A512;


/* Vector */


position: absolute;
left: 67.11%;
right: 31.97%;
top: 69.39%;
bottom: 30.32%;

background: #FFC224;


/* Vector */


position: absolute;
left: 68.5%;
right: 29.72%;
top: 69.42%;
bottom: 30.29%;

background: #969696;


/* Vector */


position: absolute;
left: 50.86%;
right: 30.71%;
top: 70.36%;
bottom: 28.83%;

background: #969696;


/* Vector */


position: absolute;
left: 50.83%;
right: 29.58%;
top: 61.86%;
bottom: 31.22%;

background: url(image6_1_5.jpg);


/* Vector */


position: absolute;
left: 50.9%;
right: 37.88%;
top: 69.43%;
bottom: 30.24%;

background: #0D1222;


/* Vector */


position: absolute;
left: 68.3%;
right: 29.61%;
top: 71.94%;
bottom: 27.77%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 50.83%;
right: 44.17%;
top: 71.69%;
bottom: 27.55%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 51.85%;
right: 47.41%;
top: 71.96%;
bottom: 27.79%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 53.08%;
right: 45.07%;
top: 71.97%;
bottom: 27.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 72.11%;
right: 9.46%;
top: 59.21%;
bottom: 39.99%;

background: #969696;


/* Vector */


position: absolute;
left: 72.08%;
right: 8.33%;
top: 50.7%;
bottom: 42.37%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 72.08%;
right: 8.33%;
top: 50.7%;
bottom: 42.37%;

background: url(image7_1_5.jpg);


/* Vector */


position: absolute;
left: 72.16%;
right: 15.8%;
top: 58.26%;
bottom: 41.31%;

background: #0D1222;


/* Vector */


position: absolute;
left: 89.55%;
right: 8.4%;
top: 60.78%;
bottom: 38.92%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 72.08%;
right: 22.92%;
top: 60.54%;
bottom: 38.7%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 73.1%;
right: 26.16%;
top: 60.81%;
bottom: 38.94%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 74.33%;
right: 23.82%;
top: 60.81%;
bottom: 38.95%;

background: #74A512;


/* Vector */


position: absolute;
left: 72.11%;
right: 9.46%;
top: 70.36%;
bottom: 28.83%;

background: #969696;


/* Vector */


position: absolute;
left: 72.08%;
right: 8.33%;
top: 61.86%;
bottom: 31.22%;

background: #D9D9D9;


/* Vector */


position: absolute;
left: 72.08%;
right: 8.33%;
top: 61.86%;
bottom: 31.22%;

background: url(image7_1_5.jpg);


/* Vector */


position: absolute;
left: 88.36%;
right: 10.72%;
top: 69.39%;
bottom: 30.32%;

background: #FFC224;


/* Vector */


position: absolute;
left: 89.75%;
right: 8.47%;
top: 69.42%;
bottom: 30.29%;

background: #969696;


/* Vector */


position: absolute;
left: 72.16%;
right: 15.8%;
top: 69.42%;
bottom: 30.16%;

background: #0D1222;


/* Vector */


position: absolute;
left: 89.55%;
right: 8.43%;
top: 71.94%;
bottom: 27.77%;

background: #0A0F1A;


/* Vector */


position: absolute;
left: 72.08%;
right: 22.92%;
top: 71.69%;
bottom: 27.55%;

background: #F5FCE8;


/* Vector */


position: absolute;
left: 73.1%;
right: 26.16%;
top: 71.96%;
bottom: 27.79%;

border: 1.5px solid #74A512;


/* Vector */


position: absolute;
left: 74.33%;
right: 23.82%;
top: 71.97%;
bottom: 27.8%;

background: #74A512;


/* Vector */


position: absolute;
left: 45.28%;
right: 45.28%;
top: 73.38%;
bottom: 25.49%;

background: #74A512;


/* Vector */


position: absolute;
left: 47.52%;
right: 47.55%;
top: 73.82%;
bottom: 25.93%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 37.85%;
right: 54.65%;
top: 49.02%;
bottom: 50.22%;

box-shadow: inset 0px -1px 4px #74A512;


/* Vector */


position: absolute;
left: 46.46%;
right: 46.74%;
top: 49.02%;
bottom: 50.22%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 47.66%;
right: 47.97%;
top: 49.29%;
bottom: 50.47%;

background: #969696;


/* Vector */


position: absolute;
left: 54.38%;
right: 37.85%;
top: 49.02%;
bottom: 50.22%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 55.57%;
right: 39.07%;
top: 49.29%;
bottom: 50.41%;

background: #969696;


/* Vector */


position: absolute;
left: 0%;
right: 0%;
top: 0.02%;
bottom: 99.05%;

background: #74A512;


/* Vector */


position: absolute;
left: 38.76%;
right: 38.72%;
top: 0.36%;
bottom: 99.33%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 90.47%;
right: 8.8%;
top: 0.36%;
bottom: 99.39%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 0%;
right: 0%;
top: 0.95%;
bottom: 97.21%;

box-shadow: inset 0px 4px 20px rgba(0, 0, 0, 0.05);


/* Vector */


position: absolute;
left: 0%;
right: 0%;
top: 90.67%;
bottom: -0.02%;

background: #1F2F00;


/* Vector */


position: absolute;
left: 11.45%;
right: 83.66%;
top: 91.87%;
bottom: 7.84%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 8.33%;
right: 89.22%;
top: 91.6%;
bottom: 7.64%;

background: #74A512;


/* Vector */


position: absolute;
left: 8.98%;
right: 91.02%;
top: 91.76%;
bottom: 7.81%;

border: 3.08178px solid #FFFFFF;


/* Vector */


position: absolute;
left: 9.38%;
right: 90.62%;
top: 91.76%;
bottom: 8.02%;

border: 3.07593px solid #FFFFFF;


/* Vector */


position: absolute;
left: 9.68%;
right: 89.43%;
top: 91.76%;
bottom: 7.98%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 9.79%;
right: 90.21%;
top: 91.91%;
bottom: 7.8%;

border: 3.56014px solid #FFFFFF;


/* Vector */


position: absolute;
left: 8.41%;
right: 76.43%;
top: 99.08%;
bottom: 0.58%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 36.8%;
right: 57.76%;
top: 91.84%;
bottom: 7.81%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 36.77%;
right: 58.98%;
top: 92.92%;
bottom: 3.35%;

background: #DDDDDD;


/* Vector */


position: absolute;
left: 47.95%;
right: 46.13%;
top: 91.86%;
bottom: 7.89%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 47.99%;
right: 46.43%;
top: 92.9%;
bottom: 6%;

background: #DDDDDD;


/* Vector */


position: absolute;
left: 59.57%;
right: 33.51%;
top: 91.86%;
bottom: 7.89%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 59.57%;
right: 36.67%;
top: 92.9%;
bottom: 5.92%;

background: #DDDDDD;


/* Vector */


position: absolute;
left: 62.07%;
right: 30.86%;
top: 99.03%;
bottom: 0.61%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 72.09%;
right: 21.31%;
top: 99.08%;
bottom: 0.59%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 81.6%;
right: 8.4%;
top: 99.09%;
bottom: 0.58%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 17.29%;
right: 81.61%;
top: 95.41%;
bottom: 4.23%;



/* Group */


position: absolute;
left: 14.53%;
right: 84.37%;
top: 95.41%;
bottom: 4.25%;



/* Vector */


position: absolute;
left: 11.65%;
right: 87.12%;
top: 95.43%;
bottom: 4.25%;

background: #FFFFFF;


/* Group */


position: absolute;
left: 8.89%;
right: 90.63%;
top: 95.43%;
bottom: 4.25%;



/* Vector */


position: absolute;
left: 72.1%;
right: 23.82%;
top: 91.86%;
bottom: 7.89%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 74.9%;
right: 8.51%;
top: 92.87%;
bottom: 6.31%;

background: #DDDDDD;


/* Vector */


position: absolute;
left: 74.94%;
right: 8.82%;
top: 94.24%;
bottom: 5.43%;

background: #DDDDDD;


/* Group */


position: absolute;
left: 72.34%;
right: 26.52%;
top: 92.75%;
bottom: 6.75%;



/* Group */


position: absolute;
left: 72.22%;
right: 26.39%;
top: 94.23%;
bottom: 5.45%;



/* Vector */


position: absolute;
left: 8.38%;
right: 66.84%;
top: 93.43%;
bottom: 5.69%;

background: #DDDDDD;


/* Vector */


position: absolute;
left: 8.33%;
right: 82.43%;
top: 40.75%;
bottom: 58.12%;

background: #74A512;


/* Vector */


position: absolute;
left: 10.6%;
right: 84.69%;
top: 41.21%;
bottom: 58.49%;

background: #FFFFFF;


/* Vector */


position: absolute;
left: 8.34%;
right: 51.52%;
top: 38.87%;
bottom: 60.33%;

background: #969696;


/* Vector */


position: absolute;
left: 8.51%;
right: 75.58%;
top: 37.15%;
bottom: 61.95%;

background: #0D1222;


/* Vector */


position: absolute;
left: 8.37%;
right: 87.38%;
top: 36.03%;
bottom: 63.72%;

background: #FF9900;


/* Vector */


position: absolute;
left: 66.49%;
right: 10.5%;
top: 35.08%;
bottom: 57.29%;

border: 2.05945px solid #EAF9CE;


/* Vector */


position: absolute;
left: 64.32%;
right: 8.33%;
top: 34.36%;
bottom: 56.57%;

border: 2.05945px dashed #EAF9CE;


/* Vector */


position: absolute;
left: 64.99%;
right: 9.06%;
top: 35.28%;
bottom: 57.5%;

background: url(image8_1_5.png);
